NEXT_PUBLIC_SUPABASE_URL=https://kjspbsqyanaqtyjhzadb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtqc3Bic3F5YW5hcXR5amh6YWRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyMzkwNTIsImV4cCI6MjEwMDgxNTA1Mn0.YUyNHmcf44jHj58QuLqDpoXdNgTrPW6gz89ckJe_T08
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtqc3Bic3F5YW5hcXR5amh6YWRiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTIzOTA1MiwiZXhwIjoyMTAwODE1MDUyfQ.JHeBcDQqzXlyhGUb0_7vU4ewoRDIHVy0Cgyn5HCtnQc
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=KikwetuConnect
